<section id="tasks">
    <header >
        <h2>{{name}}</h2>
        <menu>
            <button>Add Task</button>
        </menu>
    </header>
    <ul *ngIf="selectedUserTasks.length > 0; else noTasks">
        <li *ngFor="let task of selectedUserTasks; else notask">
            <app-task [task]="task"></app-task>
        </li>
        <ng-template #notask>
            <p ><strong style="color: lightyellow;"> No task for the current user!</strong></p>
          </ng-template>
    </ul>
    <ng-template #noTasks>
        <p>No tasks available for {{name}}.</p>
      </ng-template>
</section>

